body{
    background-image: url('image/background-pokemon2.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

.container{
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.9);
    color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ff6f61;
}

label{
    display: block;
    font-size: 1.2rem;
    margin: 10px 0 5px;
}

input{
    width: 95.4%;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ff6f61;
    border-radius: 10px;
    font-size: 1rem;
}

button{
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: #ff6f61;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #ff4c3b;
}

.audio-container{
    max-width: 300px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

audio{
    width: 100%;
    border-radius: 10px;
    outline: none;
}

audio::-webkit-media-controls-panel{
    background-color: #ff6e6171;
    border-radius: 10px;
}

#dataContainer{
    margin-top: 20px;
}

.pokemon{
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ff6f61;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.pokemon:hover{
    transform: scale(1.05);
}

.pokemon img{
    width: 100px;
    height: auto;
}

.pokemon h2{
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff6f61;
}

.pokemon p{
    margin: 5px 0;
    font-size: 1rem;
    color: #333;
}
